build/
*~
*.[ao]
*.swp
*.swo
*.suo
*.pro.user
.directory
CMakeLists.txt.user*
backend/Makefile
frontend/Makefile
docs/manual.pdf
docs/zint.1.tex
build-*
win32/*.VC.opendb
win32/*.VC.db
win32/Debug
win32/Release
win32/x64
extern/*

.vscode/
out/
